<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body> 
    <h1>resultados</h1>
    <p>resultado da soma entre {{n1}} e {{n2}} é {{resultado['soma'] }}</p>
    <p>resultado da subtracao entre {{n1}} e {{n2}} é {{resultado['subtracao'] }}</p>
    <p>resultado da multiplicacao entre {{n1}} e {{n2}} é {{resultado['multiplicacao'] }}</p>
    <p>resultado da divisao inteira entre {{n1}} e {{n2}} é {{resultado['divisao_inteira'] }}</p>
    <p>resultado da divisao fracionada entre {{n1}} e {{n2}} é {{resultado['divisao_fracionada'] }}</p>
    <p>resultado da resto entre {{n1}} e {{n2}} é {{resultado['resto'] }}</p>
    <p>resultado da raiz entre {{n1}} e {{n2}} é {{resultado['raiz'] }}</p>

    <br>
    <a href="/">voltar para a pagina inicial</a>
</body>
</html>